{% load static %}
<!-- header_section - start
      ================================================== -->
      {% if messages %}
        <div class="container mt-3 d-flex justify-content-center">
          <div class="w-100 text-center">
            {% for message in messages %}
              {% if 'success-border' in message.tags %}
                <div class="alert alert-success alert-dismissible fade show border-success" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <header class="header_section">
        <div class="header_middle">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-lg-3 col-5">
                <div class="brand_logo">
                  <a class="brand_link" href="{% url "product:index" %}">
                    <img src="{% static 'assets/images/logo/Odadoz (5).png' %}" alt="Getyootech - Gadgets Ecommerce Site Template">
                  </a>
                </div>
              </div>
              <div class="col col-lg-6 col-2">
                <nav class="main_menu navbar navbar-expand-lg">
                  <div class="main_menu_inner collapse navbar-collapse justify-content-center" id="main_menu_dropdown">
                    <ul class="main_menu_list ul_li">
                      <li><a href="{% url "product:index" %}">Home</a></li>
                      <li><a href="{% url "web:about" %}">About</a></li>
                      <li><a href="{% url "product:shop" %}">Shop</a></li>
                      <li><a href="{% url "web:contact" %}">Contact</a></li>
                      <li class="dropdown">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="#" id="shop_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sign</a>
                        <ul class="dropdown-menu" aria-labelledby="shop_submenu">
                          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                          {% else %}
                          <li><a href="{% url 'auth_login' %}">Login</a></li>
                          <li><a href="{% url 'registration_register' %}">Register</a></li>
                          {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>

              <div class="col col-lg-3 col-5">
                <ul class="header_icons_group ul_li_right">
                  <li>
                    <button class="mobile_menu_btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fal fa-bars"></i>
                    </button>
                  </li>
                  <li>
                    <a href="{% url "order:wishlist" %}">
                      <i class="fa-regular fa-heart"></i>
                      <small class="wishlist_counter">{{ wishlist_items_count }}</small>
                    </a>
                  </li>
                  <li>
                    <a href="{% url "order:account" %}">
                      <i class="fa-regular fa-user"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="header_bottom">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-md-3 col-6">
                <div class="allcategories_dropdown">
                  <button class="allcategories_btn" type="button" data-bs-toggle="collapse" data-bs-target="#allcategories_collapse" aria-expanded="false" aria-controls="allcategories_collapse">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="13" viewBox="0 0 15 13">
                     <image width="15" height="13" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANAgMAAAALcNzSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX+//3+//0AAABvRd2oAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQflBwIBIhVZ2fz2AAAAGUlEQVQI12MIDQ0NYQATaAAshEUcJgvVBgDy4QdJZv6kzwAAAABJRU5ErkJggg=="/>
                   </svg>
                    All Categories
                  </button>
                  <div class="allcategories_collapse collapse" id="allcategories_collapse">
                    <div class="card card-body">
                      <ul class="allcategories_list ul_li_block">
                        {% for category in all_categories %}
                        <li><a href="{% url 'product:shop' %}?category={{ category.slug }}"><i class="fa-duotone fa-rocket-launch"></i> {{ category.name }}</a></li>
                        {% endfor %}  
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col col-md-6">
                <form action="{% url "product:shop" %}" method="get">
                  <div class="advance_serach">
                    <div class="form_item">
                      <input type="search" name="query" placeholder="Search Prudcts...">
                    </div>
                    <button type="submit" class="search_btn"><i class="far fa-search"></i></button>
                  </div>
                </form>
              </div>

              <div class="col col-md-3 col-6">
                <button type="button" class="cart_btn">
                  <span class="cart_icon">
                    <i class="icon icon-ShoppingCart"></i>
                    <small class="cart_counter">{{request.session.cart|length}}</small>
                  </span>
                  
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header_section - end
      ================================================== -->