{% extends "partials/base.html" %}
{% load static %}
{% load product_tags %}
{% block content %}
{% block title %} Account {% endblock  %}
    <!-- body_wrap - start -->
    <div class="body_wrap">

      <!-- backtotop - start -->
      <div class="backtotop">
        <a href="javascript:void(0)" class="scroll">
          <i class="far fa-arrow-up"></i>
        </a>
      </div>
      <!-- backtotop - end -->

      <!-- preloader - start -->
      <div id="preloader"></div>
      <!-- preloader - end -->

      <!-- main body - start
      ================================================== -->
      <main>

        <!-- sidebar cart - start
        ================================================== -->
        <div class="sidebar-menu-wrapper">
          <div class="cart_sidebar">
            <button type="button" class="close_btn"><i class="fal fa-times"></i></button>

            <ul class="cart_items_list ul_li_block mb_30 clearfix">
              {% for key,value in request.session.cart.items %}
              <li>
                <div class="item_image">
                  <img src="{{value.image}}" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">{{value.name}}</h4>
                  <span class="item_price">${{value.price}}</span>
                </div>
                <a href="{% url "order:item_clear" key %}"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></a>
              </li>
              {% endfor %}
            </ul>

            <ul class="total_price ul_li_block mb_30 clearfix">
              <li>
                <span>Subtotal:</span>
                <span>${{cart_total_amount}}</span>
              </li>
              <li>
                <span>Vat 5%:</span>
                <span>$4.5</span>
              </li>
              <li>
                <span>Discount 20%:</span>
                <span>- $18.9</span>
              </li>
              <li>
                <span>Total:</span>
                <span>${{cart_total_amount}}</span>
              </li>
            </ul>

            <ul class="btns_group ul_li_block clearfix">
              <li><a class="btn btn_primary" href="{% url "order:cart_detail" %}">View Cart</a></li>
              <li><a class="btn btn_secondary" href="checkout.html">Checkout</a></li>
            </ul>
          </div>

          <div class="cart_overlay"></div>
        </div>
        <!-- sidebar cart - end
        ================================================== -->

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
          <div class="container">
            <ul class="breadcrumb_nav ul_li">
              <li><a href="{% url "product:index" %}">Home</a></li>
              <li>My Account</li>
            </ul>
          </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- account_section - start
        ================================================== -->
        <section class="account_section section_space">
          <div class="container">
            <div class="row">
              <div class="col col-lg-3">
                <div class="account_menu">
                  <h2 class="title_text">My Account</h2>
                  <ul class="account_menu_list ul_li_block">
                    <li class="active"><a href="javascript:void(0)">Account Dashboard</a></li>
                    <li><a href="{% url "order:checkout" %}">Address Book</a></li>
                    <li><a href="{% url "order:order" %}" class="align-items-center d-flex">My Orders<i class="fa-solid fa-box-archive ms-auto"></i></a></li>
                    <li><a href="{% url "order:wishlist" %}" class="align-items-center d-flex">My Wishlist<i class="fa-solid fa-heart ms-auto"></i></a></li>
                    <li><a href="{% url 'auth_logout' %}" class="align-items-center d-flex">Logout<i class="fa-solid fa-right-from-bracket ms-auto"></i></a></li>
                  </ul>
                </div>
              </div>

              <div class="col col-lg-9">
                <div class="account_content_area">
                  <h3>My Dashboard</h3>
                  <ul class="content_layout ul_li_block">
                    <li>
                     
                          <img src="{{ request.user.userprofile.profile_pic.url }}" alt="Profile Picture" class="rounded-circle" style="width:50px; height:50px;">
                   
                      <h4 class="mt-2"><strong>{{request.user.userprofile.first_name}}, {{request.user.userprofile.last_name}}!</strong></h4>
                      <p class="mb-0">
                        Explore your Dashboard's power. Easily manage account details, gain insights into recent activity, and take control. Select a link below to view or edit your information.
                      <div>
                        <a href="{% url "order:profile" %}"><button class="btn btn-danger mt-2">update profile</button></a>
                      </div>
                    </li>
                    <li>
                      <h4>Contact Information</h4>
                      <p class="mb-0">
                        {{request.user.username}}
                      </p>
                      <a class="mb-3" href="javascript:void(0)">{{request.user.email}}</a>
                      <ul class="btns_group ul_li">
                        <li><a class="btn btn_gray" href="javascript:void(0)">Edit Account Information</a></li>
                        <li><a class="btn btn_gray" href="{% url 'auth_password_change' %}">Change Password</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- account_section - end
        ================================================== -->

        <!-- newsletter_section - start
        ================================================== -->
        <section class="newsletter_section">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-lg-6">
                <h2 class="newsletter_title text-white">
                  <i class="icofont-paper-plane"></i>
                  Sign Up for Newsletter
                </h2>
              </div>
              <div class="col col-lg-6">
                <form action="javascript:void(0)">
                  <div class="newsletter_form">
                    <input type="email" name="email" placeholder="Enter your email address">
                    <button type="submit" class="btn btn_danger">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- newsletter_section - end
        ================================================== -->

      </main>
      <!-- main body - end
      ================================================== -->

    </div>
    <!-- body_wrap - end -->
{% endblock  %}